body{
    background-color: #eeeeee;
}

h1 .headingwtsp{
    color: #0275d8;

}
html{
    scroll-behavior: smooth;
}

ol{
    list-style: inside;
}
.mug a{
    text-decoration: none;
}




